:where(:root, :host) {
    --pd-fonts-heading: -apple-system, BlinkMacSystemFont;
    --pd-fonts-body: Helvetica, Arial, sans-serif;
    --pd-fonts-mono: SFMono-Regular, Menlo, Monaco;
    --pd-colors-current: currentColor;
    --pd-colors-gray\.50: #FAFAFA;
    --pd-colors-gray\.100: #F5F5F5;
    --pd-colors-gray\.200: #E5E5E5;
    --pd-colors-gray\.300: #D4D4D4;
    --pd-colors-gray\.400: #A3A3A3;
    --pd-colors-gray\.500: #737373;
    --pd-colors-gray\.600: #525252;
    --pd-colors-gray\.700: #333333;
    --pd-colors-gray\.800: #121212;
    --pd-colors-gray\.900: #0A0A0A;
    --pd-colors-green\.50: #F0FFF4;
    --pd-colors-green\.100: #C6F6D5;
    --pd-colors-green\.200: #9AE6B4;
    --pd-colors-green\.300: #68D391;
    --pd-colors-green\.400: #48BB78;
    --pd-colors-green\.500: #38A169;
    --pd-colors-green\.600: #2F855A;
    --pd-colors-green\.700: #276749;
    --pd-colors-green\.800: #22543D;
    --pd-colors-green\.900: #1C4532;
    --pd-colors-red\.50: #FEF2F2;
    --pd-colors-red\.100: #FEE2E2;
    --pd-colors-red\.200: #FECACA;
    --pd-colors-red\.300: #FCA5A5;
    --pd-colors-red\.400: #F87171;
    --pd-colors-red\.500: #EF4444;
    --pd-colors-red\.600: #DC2626;
    --pd-colors-red\.700: #B91C1C;
    --pd-colors-red\.800: #991B1B;
    --pd-colors-red\.900: #7F1D1D;
    --pd-font-sizes-sm: 0.5rem;
    --pd-font-sizes-xs: 0.75rem;
    --pd-font-sizes-md: 0.875rem;
    --pd-font-sizes-lg: 1.125rem;
    --pd-font-sizes-xl: 1.25rem;
    --pd-line-heights-normal: normal;
    --pd-line-heights-none: 1;
    --pd-line-heights-shorter: 1.25;
    --pd-line-heights-short: 1.375;
    --pd-line-heights-base: 1.5;
    --pd-line-heights-tall: 1.625;
    --pd-line-heights-taller: 2;
    --pd-font-weights-normal: 400;
    --pd-font-weights-medium: 500;
    --pd-font-weights-semibold: 600;
    --pd-font-weights-bold: 700;
    --pd-letter-spacings-tighter: -0.05em;
    --pd-letter-spacings-tight: -0.025em;
    --pd-letter-spacings-normal: 0;
    --pd-letter-spacings-wide: 0.025em;
    --pd-letter-spacings-wider: 0.05em;
    --pd-letter-spacings-widest: 0.1em;
    --pd-radii-none: 0;
    --pd-radii-sm: 0.125rem;
    --pd-radii-base: 0.25rem;
    --pd-radii-md: 0.375rem;
    --pd-radii-lg: 0.5rem;
    --pd-radii-xl: 0.75rem;
    --pd-radii-2xl: 1rem;
    --pd-radii-3xl: 1.5rem;
    --pd-radii-full: 9999px;
    --pd-shadows-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
    --pd-shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --pd-shadows-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --pd-shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --pd-drop-shadows-sm: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
    --pd-drop-shadows-md: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
    --pd-spacing-1: 0.25rem;
    --pd-spacing-2: 0.5rem;
    --pd-spacing-3: 0.75rem;
    --pd-spacing-4: 1rem;
    --pd-spacing-5: 1.25rem;
    --pd-spacing-6: 1.5rem;
    --pd-spacing-0\.5: 0.125rem;
    --pd-spacing-1\.5: 0.375rem;
    --pd-spacing-2\.5: 0.625rem;
    --pd-spacing-3\.5: 0.875rem;
    --pd-sizes-1: 0.25rem;
    --pd-sizes-2: 0.5rem;
    --pd-sizes-3: 0.75rem;
    --pd-sizes-4: 1rem;
    --pd-sizes-5: 1.25rem;
    --pd-sizes-6: 1.5rem;
    --pd-sizes-0\.5: 0.125rem;
    --pd-sizes-1\.5: 0.375rem;
    --pd-sizes-2\.5: 0.625rem;
    --pd-sizes-3\.5: 0.875rem;
    --pd-large-sizes-xs: 20rem;
    --pd-large-sizes-sm: 24rem;
    --pd-large-sizes-md: 28rem;
    --pd-large-sizes-lg: 32rem;
    --pd-large-sizes-xl: 36rem;
    --pd-animations-none: none;
    --pd-animations-spin: spin 1s linear infinite;
    --pd-animations-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    --pd-animations-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --pd-animations-bounce: bounce 1s infinite;
    --pd-opacity-0: 0;
    --pd-opacity-25: 0.25;
    --pd-opacity-50: 0.5;
    --pd-opacity-75: 0.75;
    --pd-opacity-100: 1;
    --pd-easings-ease-in: cubic-bezier(0.4, 0, 1, 1);
    --pd-easings-ease-out: cubic-bezier(0, 0, 0.2, 1);
    --pd-easings-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --pd-durations-75: 75ms;
    --pd-durations-100: 100ms;
    --pd-durations-150: 150ms;
    --pd-transition-properties-all: all;
    --pd-transition-properties-none: none;
    --pd-transition-properties-opacity: opacity;
    --pd-transition-properties-shadow: box-shadow;
    --pd-transition-properties-transform: transform;
    --pd-transition-properties-base: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    --pd-transition-properties-background: background, background-color;
    --pd-transition-properties-colors: color, background-color, border-color, text-decoration-color, fill, stroke;
    --pd-colors-primary: var(--pd-colors-red\.500);
    --pd-colors-secondary: var(--pd-colors-red\.800);
    --pd-spacing-gutter: var(--pd-spacing-4)
}

[data-theme=dark] :where(:root, :host) {
 --pd-colors-primary: var(--pd-colors-red\.400);
--pd-colors-secondary: var(--pd-colors-red\.700);
--pd-spacing-gutter: 40px 
}

@media screen and (min-width: 62em) {
 :where(:root, :host) {
    --pd-spacing-gutter: var(--pd-spacing-5)
} 
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

@keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0
    }
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1)
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1)
    }
}
