@layer utilities {
  .font_12px\/1\.5_Helvetica\,_Arial\,_sans-serif {
    font: 12px/1.5 Helvetica, Arial, sans-serif;
  }

  .text_red {
    color: red;
  }

  .\[\&\:hover\]\:text_blue {
    &:hover {
      color: blue;
    }
  }
}
