@layer utilities {

  .pt_16 {
    padding-top: var(--spacing-16)
    }

  .gap_5 {
    gap: var(--spacing-5)
    }

  .mt_10 {
    margin-top: var(--spacing-10)
    }

  .font_bold {
    font-weight: var(--font-weights-bold)
    }

  .fs_4xl {
    font-size: var(--font-sizes-4xl)
    }

  .opacity_0\.5 {
    opacity: 0.5
    }

  .size_regular {
    size: regular
    }

  .size_large {
    size: large
    }

  .justify_space-between {
    justify-content: space-between
    }

  .font_medium {
    font-weight: var(--font-weights-medium)
    }

  .gap_2 {
    gap: var(--spacing-2)
    }

  .gap_3 {
    gap: var(--spacing-3)
    }

  .justify_center {
    justify-content: center
    }

  .gap_10px {
    gap: 10px
    }

  .flex_row {
    flex-direction: row
    }

  .font_semibold {
    font-weight: var(--font-weights-semibold)
    }

  .fs_2xl {
    font-size: var(--font-sizes-2xl)
    }

  .p_2 {
    padding: var(--spacing-2)
    }

  .ring_none {
    outline: 2px solid transparent;
    outline-offset: 2px
    }

  .border-width_1px {
    border-width: 1px
    }

  .border_card {
    border-color: var(--colors-card)
    }

  .items_center {
    align-items: center
    }

  .gap_2\.5 {
    gap: var(--spacing-2\.5)
    }

  .text_center {
    text-align: center
    }

  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .gap_4 {
    gap: var(--spacing-4)
    }

  .flex_1 {
    flex: 1 1 0%
    }}