@layer utilities {
  .ml_auto {
    margin-left: auto;
  }

  .p_4 {
    padding: var(--spacing-4);
  }

  .justify_center {
    justify-content: center;
  }

  .fs_xl {
    font-size: var(--font-sizes-xl);
  }

  .p_16 {
    padding: var(--spacing-16);
  }

  .mt_8 {
    margin-top: var(--spacing-8);
  }

  .mt_1 {
    margin-top: var(--spacing-1);
  }

  .font_bold {
    font-weight: var(--font-weights-bold);
  }

  .mb_4 {
    margin-bottom: var(--spacing-4);
  }

  .py_2 {
    padding-block: var(--spacing-2);
  }

  .px_4 {
    padding-inline: var(--spacing-4);
  }

  .transition_all_0\.2s_ease {
    transition: all 0.2s ease;
  }

  .hover\:bg_gray\.100 {
    &:where(:hover, [data-hover]) {
      background-color: var(--colors-gray-100);
    }
  }

  .d_inline-flex {
    display: inline-flex;
  }

  .items_center {
    align-items: center;
  }

  .opacity_0\.5 {
    opacity: 0.5;
  }

  .border-b_1px_solid_transparent {
    border-bottom: 1px solid transparent;
  }

  .cursor_pointer {
    cursor: pointer;
  }

  .hover\:opacity_1 {
    &:where(:hover, [data-hover]) {
      opacity: 1;
    }
  }

  .hover\:border-b_black {
    &:where(:hover, [data-hover]) {
      border-bottom-color: var(--colors-black);
    }
  }

  .d_flex {
    display: flex;
  }

  .flex-wrap_wrap {
    flex-wrap: wrap;
  }

  .gap_2 {
    gap: var(--spacing-2);
  }

  .mt_4 {
    margin-top: var(--spacing-4);
  }
}
