@layer utilities {
  .bg_\#646cff {
    background: #646cff
    }

  .text_white {
    color: var(--colors-white)
    }

  .w_fit-content {
    width: fit-content
    }

  .fs_small {
    font-size: small
    }

  .px_6 {
    padding-inline: var(--spacing-6)
    }

  .py_1 {
    padding-block: var(--spacing-1)
    }

  .rounded_sm {
    border-radius: var(--radii-sm)
    }

  .mt_6 {
    margin-top: var(--spacing-6)
    }

  .transition_all_0\.2s_ease {
    transition: all 0.2s ease
    }

  .flex_column {
    flex-direction: column
    }

  .py_24 {
    padding-block: var(--spacing-24)
    }

  .mb_10 {
    margin-bottom: var(--spacing-10)
    }

  .bg_card {
    background: var(--colors-card)
    }

  .font_bold {
    font-weight: var(--font-weights-bold)
    }

  .fs_2xl {
    font-size: var(--font-sizes-2xl)
    }

  .px_8 {
    padding-inline: var(--spacing-8)
    }

  .py_4 {
    padding-block: var(--spacing-4)
    }

  .gap_2 {
    gap: var(--spacing-2)
    }

  .fs_3xl {
    font-size: var(--font-sizes-3xl)
    }

  .font_semibold {
    font-weight: var(--font-weights-semibold)
    }

  .mb_6 {
    margin-bottom: var(--spacing-6)
    }

  .d_block {
    display: block
    }

  .p_8 {
    padding: var(--spacing-8)
    }

  .d_flex {
    display: flex
    }

  .flex-wrap_wrap {
    flex-wrap: wrap
    }

  .gap_6 {
    gap: var(--spacing-6)
    }

  .my_2 {
    margin-block: var(--spacing-2)
    }

  .p_0 {
    padding: 0
    }

  .\[\&\:hover\]\:bg_\#4049f0 {
    &:hover {
      background: #4049f0
        }
    }

  .\[\&\:hover\]\:shadow_lg {
    &:hover {
      box-shadow: var(--shadows-lg)
        }
    }
}