@layer utilities {
  .px_1 {
    padding-inline: var(--spacing-1)
    }

  .py_2\.5 {
    padding-block: var(--spacing-2\.5)
    }

  .border_card {
    border-color: var(--colors-card)
    }

  .flex_auto {
    flex: 1 1 auto
    }

  .my_3 {
    margin-block: var(--spacing-3)
    }

  .truncate_true {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
    }

  .font_medium {
    font-weight: var(--font-weights-medium)
    }
}