@layer utilities {
  .hover\:shadow_lg {
    &:where(:hover, [data-hover]) {
      box-shadow: var(--shadows-lg);
    }
  }

  .hover\:shadow_lg {
    &:where(:hover, [data-hover]) {
      box-shadow: var(--shadows-lg);
    }
  }

  .w_60 {
    width: var(--sizes-60);
  }

  .bg_card {
    background: var(--colors-card);
  }

  .rounded_sm {
    border-radius: var(--radii-sm);
  }

  .p_4 {
    padding: var(--spacing-4);
  }

  .transition_all_0\.2s_ease {
    transition: all 0.2s ease;
  }

  .hover\:shadow_lg {
    &:where(:hover, [data-hover]) {
      box-shadow: var(--shadows-lg);
    }
  }

  .\[\&_svg\]\:font_normal {
    & svg {
      font-weight: var(--font-weights-normal);
    }
  }

  .\[\&_svg\]\:fs_xx-large {
    & svg {
      font-size: xx-large;
    }
  }

  .\[\&_svg\]\:mb_6 {
    & svg {
      margin-bottom: var(--spacing-6);
    }
  }

  .\[\&_svg\]\:h_6 {
    & svg {
      height: var(--sizes-6);
    }
  }

  .\[\&_svg\]\:w_6 {
    & svg {
      width: var(--sizes-6);
    }
  }

  .\[\&_svg\]\:font_normal {
    & svg {
      font-weight: var(--font-weights-normal);
    }
  }

  .\[\&_svg\]\:fs_xx-large {
    & svg {
      font-size: xx-large;
    }
  }

  .\[\&_svg\]\:mb_6 {
    & svg {
      margin-bottom: var(--spacing-6);
    }
  }

  .\[\&_svg\]\:h_6 {
    & svg {
      height: var(--sizes-6);
    }
  }

  .\[\&_svg\]\:w_6 {
    & svg {
      width: var(--sizes-6);
    }
  }

  .\[\&_svg\]\:font_normal {
    & svg {
      font-weight: var(--font-weights-normal);
    }
  }

  .\[\&_svg\]\:fs_xx-large {
    & svg {
      font-size: xx-large;
    }
  }

  .\[\&_svg\]\:mb_6 {
    & svg {
      margin-bottom: var(--spacing-6);
    }
  }

  .\[\&_svg\]\:h_6 {
    & svg {
      height: var(--sizes-6);
    }
  }

  .\[\&_svg\]\:w_6 {
    & svg {
      width: var(--sizes-6);
    }
  }

  .font_semibold {
    font-weight: var(--font-weights-semibold);
  }

  .fs_small {
    font-size: small;
  }

  .d_block {
    display: block;
  }

  .mt_3 {
    margin-top: var(--spacing-3);
  }
}
