@layer utilities {
  .d_flex {
    display: flex;
  }

  .hover\:opacity_1 {
    &:where(:hover, [data-hover]) {
      opacity: 1;
    }
  }

  .hover\:border-b_black {
    &:where(:hover, [data-hover]) {
      border-bottom-color: var(--colors-black);
    }
  }

  .hover\:opacity_1 {
    &:where(:hover, [data-hover]) {
      opacity: 1;
    }
  }

  .hover\:border-b_black {
    &:where(:hover, [data-hover]) {
      border-bottom-color: var(--colors-black);
    }
  }

  .hover\:opacity_1 {
    &:where(:hover, [data-hover]) {
      opacity: 1;
    }
  }

  .hover\:border-b_black {
    &:where(:hover, [data-hover]) {
      border-bottom-color: var(--colors-black);
    }
  }

  .hover\:opacity_1 {
    &:where(:hover, [data-hover]) {
      opacity: 1;
    }
  }

  .hover\:border-b_black {
    &:where(:hover, [data-hover]) {
      border-bottom-color: var(--colors-black);
    }
  }

  .hover\:opacity_1 {
    &:where(:hover, [data-hover]) {
      opacity: 1;
    }
  }

  .hover\:border-b_black {
    &:where(:hover, [data-hover]) {
      border-bottom-color: var(--colors-black);
    }
  }

  .hover\:opacity_1 {
    &:where(:hover, [data-hover]) {
      opacity: 1;
    }
  }

  .hover\:border-b_black {
    &:where(:hover, [data-hover]) {
      border-bottom-color: var(--colors-black);
    }
  }

  .hover\:opacity_1 {
    &:where(:hover, [data-hover]) {
      opacity: 1;
    }
  }

  .hover\:border-b_black {
    &:where(:hover, [data-hover]) {
      border-bottom-color: var(--colors-black);
    }
  }

  .hover\:opacity_1 {
    &:where(:hover, [data-hover]) {
      opacity: 1;
    }
  }

  .hover\:border-b_black {
    &:where(:hover, [data-hover]) {
      border-bottom-color: var(--colors-black);
    }
  }

  .pos_relative {
    position: relative;
  }

  .max-w_14px {
    max-width: 14px;
  }

  .shrink_0 {
    flex-shrink: 0;
  }

  .p_2 {
    padding: var(--spacing-2);
  }

  .bg_card {
    background-color: var(--colors-card);
  }

  .border_1px_solid_token\(colors\.border\) {
    border: 1px solid var(--colors-border);
  }

  .shadow_sm {
    box-shadow: var(--shadows-sm);
  }

  .rounded_md {
    border-radius: var(--radii-md);
  }

  .hover\:opacity_1 {
    &:where(:hover, [data-hover]) {
      opacity: 1;
    }
  }

  .hover\:border-b_black {
    &:where(:hover, [data-hover]) {
      border-bottom-color: var(--colors-black);
    }
  }

  .hover\:opacity_1 {
    &:where(:hover, [data-hover]) {
      opacity: 1;
    }
  }

  .hover\:border-b_black {
    &:where(:hover, [data-hover]) {
      border-bottom-color: var(--colors-black);
    }
  }

  .text_red\.400 {
    color: var(--colors-red-400);
  }

  .hover\:opacity_1 {
    &:where(:hover, [data-hover]) {
      opacity: 1;
    }
  }

  .hover\:border-b_black {
    &:where(:hover, [data-hover]) {
      border-bottom-color: var(--colors-black);
    }
  }

  .d_inline-flex {
    display: inline-flex;
  }

  .items_center {
    align-items: center;
  }

  .opacity_0\.5 {
    opacity: 0.5;
  }

  .border-b_1px_solid_transparent {
    border-bottom: 1px solid transparent;
  }

  .cursor_pointer {
    cursor: pointer;
  }

  .hover\:opacity_1 {
    &:where(:hover, [data-hover]) {
      opacity: 1;
    }
  }

  .hover\:border-b_black {
    &:where(:hover, [data-hover]) {
      border-bottom-color: var(--colors-black);
    }
  }

  .self_flex-start {
    align-self: flex-start;
  }

  .mr_2 {
    margin-right: var(--spacing-2);
  }
}
