@layer utilities {
  .fs_100px {
    font-size: 100px;
  }

  .font_bold {
    font-weight: var(--font-weights-bold);
  }

  .leading_1 {
    line-height: 1;
  }

  .font_semibold {
    font-weight: var(--font-weights-semibold);
  }

  .opacity_0\.7 {
    opacity: 0.7;
  }

  .gap_8 {
    gap: var(--spacing-8);
  }

  .flex_column {
    flex-direction: column;
  }

  .gap_10px {
    gap: 10px;
  }

  .gap_10 {
    gap: var(--spacing-10);
  }

  .flex_row {
    flex-direction: row;
  }

  .flex-wrap_wrap {
    flex-wrap: wrap;
  }

  .fs_24px {
    font-size: 24px;
  }

  .mt_8 {
    margin-top: var(--spacing-8);
  }

  .text_uppercase {
    text-transform: uppercase;
  }

  .d_flex {
    display: flex;
  }

  .items_center {
    align-items: center;
  }

  .justify_center {
    justify-content: center;
  }

  .flex_0_0_auto {
    flex: 0 0 auto;
  }

  .w_8 {
    width: var(--sizes-8);
  }

  .h_8 {
    height: var(--sizes-8);
  }

  .text_lowercase {
    text-transform: lowercase;
  }
}
