@layer utilities {
  .w_80px {
    width: 80px
    }

  .h_80px {
    height: 80px
    }

  .bg_rgba\(255\,_192\,_203\,_0\.5\) {
    background: rgba(255, 192, 203, 0.5)
    }

  .opacity_0\.7 {
    opacity: 0.7
    }

  .d_grid {
    display: grid
    }

  .grid-cols_repeat\(auto-fit\,_minmax\(10rem\,_1fr\)\) {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr))
    }

  .gap_10 {
    gap: var(--spacing-10)
    }

  .gap_10px {
    gap: 10px
    }

  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .items_center {
    align-items: center
    }

  .gap_1 {
    gap: var(--spacing-1)
    }}