@layer utilities {
  .font_semibold {
    font-weight: var(--font-weights-semibold);
  }

  .text_capitalize {
    text-transform: capitalize;
  }

  .fs_xl {
    font-size: var(--font-sizes-xl);
  }

  .font_medium {
    font-weight: var(--font-weights-medium);
  }

  .opacity_0\.7 {
    opacity: 0.7;
  }

  .fs_sm {
    font-size: var(--font-sizes-sm);
  }

  .text_uppercase {
    text-transform: uppercase;
  }

  .mb_3\.5 {
    margin-bottom: var(--spacing-3\.5);
  }

  .pos_sticky {
    position: sticky;
  }

  .top_0 {
    top: var(--spacing-0);
  }

  .z_1 {
    z-index: 1;
  }

  .w_full {
    width: var(--sizes-full);
  }

  .gap_0\.5 {
    gap: var(--spacing-0\.5);
  }

  .mt_2 {
    margin-top: var(--spacing-2);
  }

  .flex_column {
    flex-direction: column;
  }

  .gap_10 {
    gap: var(--spacing-10);
  }

  .d_flex {
    display: flex;
  }

  .items_center {
    align-items: center;
  }

  .gap_1 {
    gap: var(--spacing-1);
  }

  .flex_row {
    flex-direction: row;
  }

  .grid-cols_repeat\(auto-fit\,_minmax\(13rem\,_1fr\)\) {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }

  .d_grid {
    display: grid;
  }

  .grid-cols_repeat\(auto-fit\,_minmax\(30rem\,_1fr\)\) {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  .gap_4 {
    gap: var(--spacing-4);
  }

  .my_5 {
    margin-block: var(--spacing-5);
  }

  .mx_0 {
    margin-inline: var(--spacing-0);
  }
}
