@layer utilities {

  .break_break-word {
    word-break: break-word
    }

  .font_bold {
    font-weight: var(--font-weights-bold)
    }

  .fs_lg {
    font-size: var(--font-sizes-lg)
    }

  .mb_2 {
    margin-bottom: var(--spacing-2)
    }

  .d_grid {
    display: grid
    }

  .grid-cols_80px_repeat\(auto-fit\,_minmax\(30px\,_1fr\)\) {
    grid-template-columns: 80px repeat(auto-fit, minmax(30px, 1fr))
    }

  .gap_10px {
    gap: 10px
    }

  .w_full {
    width: var(--sizes-full)
    }

  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .gap_2 {
    gap: var(--spacing-2)
    }
}