@layer utilities {
  .dark\:text_neutral\.300 {
    &.dark,
    .dark & {
      color: var(--colors-neutral-300);
    }
  }

  .focusWithin\:outline-style_solid {
    &:focus-within {
      outline-style: solid;
    }
  }

  .focusWithin\:ring_2px {
    &:focus-within {
      outline-width: 2px;
    }
  }

  .focusWithin\:ring_2px {
    &:focus-within {
      outline-offset: 2px;
    }
  }

  .focusWithin\:ring_neutral\.400 {
    &:focus-within {
      outline-color: var(--colors-neutral-400);
    }
  }

  .dark\:text_neutral\.300 {
    &.dark,
    .dark & {
      color: var(--colors-neutral-300);
    }
  }

  .focusWithin\:outline-style_solid {
    &:focus-within {
      outline-style: solid;
    }
  }

  .focusWithin\:ring_2px {
    &:focus-within {
      outline-width: 2px;
    }
  }

  .focusWithin\:ring_2px {
    &:focus-within {
      outline-offset: 2px;
    }
  }

  .focusWithin\:ring_neutral\.400 {
    &:focus-within {
      outline-color: var(--colors-neutral-400);
    }
  }

  .dark\:text_neutral\.300 {
    &.dark,
    .dark & {
      color: var(--colors-neutral-300);
    }
  }

  .focusWithin\:outline-style_solid {
    &:focus-within {
      outline-style: solid;
    }
  }

  .focusWithin\:ring_2px {
    &:focus-within {
      outline-width: 2px;
    }
  }

  .focusWithin\:ring_2px {
    &:focus-within {
      outline-offset: 2px;
    }
  }

  .focusWithin\:ring_neutral\.400 {
    &:focus-within {
      outline-color: var(--colors-neutral-400);
    }
  }

  .dark\:text_neutral\.300 {
    &.dark,
    .dark & {
      color: var(--colors-neutral-300);
    }
  }

  .focusWithin\:outline-style_solid {
    &:focus-within {
      outline-style: solid;
    }
  }

  .focusWithin\:ring_2px {
    &:focus-within {
      outline-width: 2px;
    }
  }

  .focusWithin\:ring_2px {
    &:focus-within {
      outline-offset: 2px;
    }
  }

  .focusWithin\:ring_neutral\.400 {
    &:focus-within {
      outline-color: var(--colors-neutral-400);
    }
  }

  .bg_transparent {
    background: var(--colors-transparent);
  }

  .w_full {
    width: var(--sizes-full);
  }

  .px_4 {
    padding-inline: var(--spacing-4);
  }

  .py_2 {
    padding-block: var(--spacing-2);
  }

  .rounded_md {
    border-radius: var(--radii-md);
  }

  .text_neutral\.600 {
    color: var(--colors-neutral-600);
  }

  .dark\:text_neutral\.300 {
    &.dark,
    .dark & {
      color: var(--colors-neutral-300);
    }
  }

  .shadow_sm {
    box-shadow: var(--shadows-sm);
  }

  .border-width_1px {
    border-width: 1px;
  }

  .border_border {
    border-color: var(--colors-border);
  }

  .focusWithin\:outline-style_solid {
    &:focus-within {
      outline-style: solid;
    }
  }

  .focusWithin\:ring_2px {
    &:focus-within {
      outline-width: 2px;
    }
  }

  .focusWithin\:ring_2px {
    &:focus-within {
      outline-offset: 2px;
    }
  }

  .focusWithin\:ring_neutral\.400 {
    &:focus-within {
      outline-color: var(--colors-neutral-400);
    }
  }
}
