@layer utilities {

  .bg_card {
    background: var(--colors-card)
    }

  .ring_0 {
    outline: 0
    }

  .pt_28 {
    padding-top: var(--spacing-28)
    }

  .pb_28 {
    padding-bottom: var(--spacing-28)
    }

  .mx_auto {
    margin-inline: auto
    }

  .w_fit-content {
    width: fit-content
    }

  .items_center {
    align-items: center
    }

  .gap_1\.5 {
    gap: var(--spacing-1\.5)
    }

  .white-space_nowrap {
    white-space: nowrap
    }

  .w_48 {
    width: var(--sizes-48)
    }

  .text_capitalize {
    text-transform: capitalize
    }

  .mr_2 {
    margin-right: var(--spacing-2)
    }

  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .gap_4 {
    gap: var(--spacing-4)
    }
}