@layer utilities {
  .w_full {
    width: var(--sizes-full);
  }

  .max-h_300px {
    max-height: 300px;
  }

  .overflow_auto {
    overflow: auto;
  }

  .bg_white {
    background: var(--colors-white);
  }

  .list-style_none {
    list-style: none;
  }

  .p_4px_8px {
    padding: 4px 8px;
  }

  .highlighted\:ring_1px_solid_token\(colors\.blue\.400\,_blue\) {
    &[data-highlighted] {
      outline: 1px solid var(--colors-blue-400, blue);
    }
  }

  .flex_column {
    flex-direction: column;
  }

  .d_flex {
    display: flex;
  }

  .border_1px_solid_token\(colors\.blue\.400\,_blue\) {
    border: 1px solid var(--colors-blue-400, blue);
  }

  .mr_-2 {
    margin-right: calc(var(--spacing-2) * -1);
  }

  .select_none {
    user-select: none;
  }

  .fs_lg {
    font-size: var(--font-sizes-lg);
  }

  .font_bold {
    font-weight: var(--font-weights-bold);
  }

  .ml_auto {
    margin-left: auto;
  }

  .px_2 {
    padding-inline: var(--spacing-2);
  }

  .cursor_pointer {
    cursor: pointer;
  }
}
