@layer utilities {
  .p_2 {
    padding: var(--spacing-2);
  }

  .bg_white {
    background-color: var(--colors-white);
  }

  .border_1px_solid_rgba\(0\,_0\,_0\,_0\.1\) {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
