@layer utilities {
  .cursor_pointer {
    cursor: pointer;
  }

  .\[\&\.active\]\:text_yellow\.300 {
    &.active {
      color: var(--colors-yellow-300);
    }
  }

  .sr_true {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .d_flex {
    display: flex;
  }

  .items_center {
    align-items: center;
  }

  .gap_3 {
    gap: var(--spacing-3);
  }

  .flex_row {
    flex-direction: row;
  }

  .rounded_md {
    border-radius: var(--radii-md);
  }

  .px_2 {
    padding-inline: var(--spacing-2);
  }

  .py_2 {
    padding-block: var(--spacing-2);
  }

  .border-width_1px {
    border-width: 1px;
  }

  .self_flex-start {
    align-self: flex-start;
  }

  .text_inherit {
    color: inherit;
  }
}
