@layer utilities {

  .d_inline-flex {
    display: inline-flex
    }

  .items_center {
    align-items: center
    }

  .fs_75\% {
    font-size: 75%
    }

  .leading_0 {
    line-height: 0
    }

  .pos_relative {
    position: relative
    }

  .top_-0\.35em {
    top: -0.35em
    }

  .opacity_0\.5 {
    opacity: 0.5
    }

  .ml_1 {
    margin-left: var(--spacing-1)
    }
}