@layer utilities {
  .hover\:text_yellow\.300 {
    &:where(:hover, [data-hover]) {
      color: var(--colors-yellow-300);
    }
  }

  .currentPage\:text_yellow\.300 {
    &[aria-current='page'] {
      color: var(--colors-yellow-300);
    }
  }

  .d_block {
    display: block;
  }

  .py_1\.5 {
    padding-block: var(--spacing-1\.5);
  }

  .cursor_pointer {
    cursor: pointer;
  }

  .fs_md {
    font-size: var(--font-sizes-md);
  }

  .font_medium {
    font-weight: var(--font-weights-medium);
  }

  .hover\:text_yellow\.300 {
    &:where(:hover, [data-hover]) {
      color: var(--colors-yellow-300);
    }
  }

  .currentPage\:text_yellow\.300 {
    &[aria-current='page'] {
      color: var(--colors-yellow-300);
    }
  }
}
