@layer utilities {
  .h_calc\(100vh_-_env\(safe-area-inset-bottom\)\) {
    height: calc(100vh - env(safe-area-inset-bottom));
  }

  .font_bold {
    font-weight: var(--font-weights-bold);
  }

  .fs_2xl {
    font-size: var(--font-sizes-2xl);
  }

  .gap_2 {
    gap: var(--spacing-2);
  }

  .w_16 {
    width: var(--sizes-16);
  }

  .mt_4 {
    margin-top: var(--spacing-4);
  }

  .pt_14 {
    padding-top: var(--spacing-14);
  }

  .pb_8 {
    padding-bottom: var(--spacing-8);
  }

  .fs_3xl {
    font-size: var(--font-sizes-3xl);
  }

  .font_semibold {
    font-weight: var(--font-weights-semibold);
  }

  .mb_8 {
    margin-bottom: var(--spacing-8);
  }

  .tracking_tight {
    letter-spacing: var(--letter-spacings-tight);
  }

  .d_flex {
    display: flex;
  }

  .flex_column {
    flex-direction: column;
  }

  .gap_10px {
    gap: 10px;
  }

  .h_full {
    height: var(--sizes-full);
  }

  .min-w_60 {
    min-width: var(--sizes-60);
  }

  .px_12 {
    padding-inline: var(--spacing-12);
  }

  .py_8 {
    padding-block: var(--spacing-8);
  }

  .pos_relative {
    position: relative;
  }

  .max-w_8xl {
    max-width: var(--sizes-8xl);
  }

  .mx_auto {
    margin-inline: auto;
  }

  .px_4 {
    padding-inline: var(--spacing-4);
  }

  .w_full {
    width: var(--sizes-full);
  }

  .overflow_auto {
    overflow: auto;
  }

  .md\:px_6 {
    @media screen and (min-width: 768px) {
      padding-inline: var(--spacing-6);
    }
  }

  .lg\:px_8 {
    @media screen and (min-width: 1024px) {
      padding-inline: var(--spacing-8);
    }
  }

  .md\:px_6 {
    @media screen and (min-width: 768px) {
      padding-inline: var(--spacing-6);
    }
  }

  .lg\:px_8 {
    @media screen and (min-width: 1024px) {
      padding-inline: var(--spacing-8);
    }
  }
}
