@layer utilities {
  .p_2 {
    padding: var(--spacing-2)
    }

  .bg_card {
    background-color: var(--colors-card)
    }

  .border_1px_solid_token\(colors\.border\) {
    border: 1px solid var(--colors-border)
    }

  .shadow_sm {
    box-shadow: var(--shadows-sm)
    }

  .rounded_md {
    border-radius: var(--radii-md)
    }

  .mr_2 {
    margin-right: var(--spacing-2)
    }

  .select_none {
    -webkit-user-select: none;
    user-select: none
    }

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }
}