@layer utilities {
  .mb_3\.5 {
    margin-bottom: var(--spacing-3\.5)
    }

  .pos_sticky {
    position: sticky
    }

  .top_0 {
    top: var(--spacing-0)
    }

  .z_1 {
    z-index: 1
    }

  .resize_vertical {
    resize: vertical
    }

  .font_medium {
    font-weight: var(--font-weights-medium)
    }

  .opacity_0\.4 {
    opacity: 0.4
    }

  .fs_4xl {
    font-size: var(--font-sizes-4xl)
    }

  .leading_normal {
    line-height: var(--line-heights-normal)
    }

  .flex_column {
    flex-direction: column
    }

  .gap_3\.5 {
    gap: var(--spacing-3\.5)
    }

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .gap_1 {
    gap: var(--spacing-1)
    }

  .flex_row {
    flex-direction: row
    }
}