@layer utilities {

  .font_semibold {
    font-weight: var(--font-weights-semibold)
    }

  .col-span_span_3_\/_span_3 {
    grid-column: span 3 / span 3
    }

  .h_5 {
    height: var(--sizes-5)
    }

  .bg_rgba\(255\,_192\,_203\,_0\.5\) {
    background: rgba(255, 192, 203, 0.5)
    }

  .col-span_span_2_\/_span_2 {
    grid-column: span 2 / span 2
    }

  .col-span_span_5_\/_span_5 {
    grid-column: span 5 / span 5
    }

  .d_grid {
    display: grid
    }

  .grid-cols_repeat\(5\,_minmax\(0\,_1fr\)\) {
    grid-template-columns: repeat(5, minmax(0, 1fr))
    }

  .gap-y_10 {
    column-gap: var(--spacing-10)
    }

  .gap-x_2\.5 {
    row-gap: var(--spacing-2\.5)
    }}