@layer utilities {
  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .gap_3 {
    gap: var(--spacing-3)
    }

  .w_full {
    width: var(--sizes-full)
    }

  .mt_5 {
    margin-top: var(--spacing-5)
    }
}