@layer tokens {
    @keyframes spin {
        to {
            transform: rotate(360deg)
        }
    }
    @keyframes ping {
        75%, 100% {
            transform: scale(2);
            opacity: 0
        }
    }
    @keyframes pulse {
        50% {
            opacity: .5
        }
    }
    @keyframes bounce {
        0%, 100% {
            transform: translateY(-25%);
            animation-timing-function: cubic-bezier(0.8,0,1,1)
        }
        50% {
            transform: none;
            animation-timing-function: cubic-bezier(0,0,0.2,1)
        }
    }
    @keyframes enter {
        from {
            opacity: var(--enter-opacity, 1);
            transform: translate3d(var(--enter-translate-x, 0), var(--enter-translate-y, 0), 0) scale3d(var(--enter-scale, 1), var(--enter-scale, 1), var(--enter-scale, 1)) rotate(var(--enter-rotate, 0))
        }
    }
    @keyframes exit {
        to {
            opacity: var(--exit-opacity, 1);
            transform: translate3d(var(--exit-translate-x, 0), var(--exit-translate-y, 0), 0) scale3d(var(--exit-scale, 1), var(--exit-scale, 1), var(--exit-scale, 1)) rotate(var(--exit-rotate, 0))
        }
    }
}