main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.token-switch {
  width: 100%;
  margin-top: 4px;
}

hr {
  width: 100%;
  opacity: 0.2;
}

.token-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-top: 20px;
}

.token-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.color-wrapper .title {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.2em;
}

.color-wrapper .shades {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(5, minmax(0px, 1fr));
  margin-top: 20px;
}

.color-wrapper .shade {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.color-wrapper .shade-label {
  font-weight: 500;
}

.color-wrapper .shade-value {
  opacity: 0.7;
}

.color-box {
  width: 100%;
  height: 40px;
  border-radius: 4px;
}

.font-token-input-wrapper {
  margin-bottom: 14px;
  position: sticky;
  top: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.font-token-input {
  width: 100%;
}

.font-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.font-wrapper .label {
  text-transform: capitalize;
  opacity: 0.4;
}

.font-wrapper .render {
  font-size: 2em;
}

.font-tokens .title {
  text-transform: capitalize;
}

.font-tokens .token-content {
  gap: 12px;
}

.fontSize-token .font-wrapper .label {
  text-transform: unset;
}

.lineHeight-token .font-wrapper .render {
  font-size: unset;
}

.typography-playground div[contenteditable] {
  outline: 0px solid transparent;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: fit-content;
}

.typography-playground .controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.typography-playground .control {
  display: flex;
  align-items: center;
  gap: 6px;
}

.typography-playground .control span {
  white-space: nowrap;
  width: 200px;
  text-transform: capitalize;
}

.sizes-tokens .token-content {
  display: grid;
  gap: 5px 40px;
  grid-template-columns: repeat(5, minmax(0px, 1fr));
}

.sizes-tokens .token-content .visual {
  grid-column: span 2 / span 2;
}
.sizes-tokens .token-content hr {
  grid-column: span 5 / span 5;
}

.sizes-tokens .token-content > span:nth-child(1),
.sizes-tokens .token-content > span:nth-child(2),
.sizes-tokens .token-content > span:nth-child(3) {
  font-weight: 600;
}

.sizes-tokens .token-content .size-box {
  height: 20px;
  background: pink;
}
