# Logs
logs
*.log
npm-debug.log*

# Dependency directory
**/node_modules/**
node_modules

dist
dist-ssr
out
build
**/buil
tsconfig.tsbuildinfo
.DS_Store
__generated__
*.env
.idea
*.vsix
.vercel

## Panda
styled-system
styled-system-static
panda
panda-static
outdir
ts-import-map-outdir

!packages/studio/styled-system
packages/studio/src/lib/analysis.json
