dist
node_modules
coverage
.next
build
*.hbs
*.d.ts
packages/studio/styled-system
packages/generator/src/artifacts/generated
packages/config/__tests__/samples/ts-import-map/ts-import-map-outdir/**
packages/config/__tests__/samples/ts-import-map-one-source/outdir/**
website/pages/**/*.mdx
.draft/**/*.mdx
styled-system