@import './design-tokens/index.css';

* {
  margin: 0px;
}

.fs_24px {
  font-size: 24px;
}

.font_body {
  font-family: var(--pd-fonts-body);
}

.mb_40px {
  margin-bottom: 40px;
}

.text_blue {
  color: blue;
}

.hover\:text_red\.200:hover {
  color: var(--pd-colors-red\.200);
}

.textStyle {
  font-family: var(--pd-fonts-mono);
}

.textStyle > * ~ * {
  border-left-width: 20px;
  border-right-width: 0px;
}

.textStyle__size-h2 {
  font-size: 3rem;
  line-height: 1.2em;
  font-weight: 700;
  letter-spacing: -0.03em;
}

@media screen and (min-width: 48em){
  .md\:textStyle__size-h1 {
    font-size: 5rem;
    line-height: 1em;
    font-weight: 800;
  }
}