#root {
  height: 100vh;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  aside {
    color: white;
  }
}

main {
  display: flex;
  height: 100%;
}

main > * {
  padding: 2rem 1rem;
  overflow: auto;
}

aside {
  min-width: 15rem;
  background-color: var(--aside-bg);
}

aside .title {
  font-weight: 700;
  font-size: 1.4rem;
}

aside > div {
  margin-top: 2rem;
}

aside > div > span {
  font-weight: 700;
  font-size: small;
  opacity: 0.7;
}

aside ul {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0;
}

aside > div ul:first-of-type {
  margin-bottom: 2rem;
}

aside ul li {
  padding: 0.3rem 0;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.2s ease;
}

aside ul li[data-active],
aside ul li:hover {
  color: #9499ff;
}

.content {
  width: 100%;
}

hr {
  width: 100%;
  opacity: 0.2;
}

.token-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-top: 20px;
}

.token-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.color-wrapper .title {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.2em;
}

.color-wrapper .shades {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  margin: 20px 0 40px 0;
}

.color-wrapper .shade {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.color-wrapper .shade-label {
  font-weight: 500;
}

.color-wrapper .shade-value {
  opacity: 0.7;
}

.color-box {
  width: 100%;
  height: 5rem;
  border-radius: 4px;
}

.semantic-wrapper,
.semantic-wrapper .condition {
  border-radius: 14px;
  height: 10rem;
  position: relative;
}

.semantic-wrapper .condition {
  width: 80%;
}

.semantic-wrapper span {
  position: absolute;
  right: 8px;
  top: 50%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: medium;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  min-width: 20px;
}

.semantic-title {
  text-transform: capitalize;
  font-weight: 600;
}

.alias {
  font-size: small;
  border-radius: 24px;
  padding: 3px 8px;
  margin-left: 12px;
  background-color: #1a1a1a;
  color: white;
}

.font-token-input-wrapper {
  margin-bottom: 14px;
  position: sticky;
  top: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: var(--bg);
}
.font-token-input {
  width: 100%;
  resize: vertical;
  padding: 4px;
}

.font-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.font-wrapper .label {
  text-transform: capitalize;
  opacity: 0.4;
}

.font-wrapper .render {
  font-size: 2em;
}

.font-tokens .title {
  text-transform: capitalize;
}

.font-tokens .token-content {
  gap: 12px;
}

.fontSize-token .font-wrapper .label {
  text-transform: unset;
}

.lineHeight-token .font-wrapper .render {
  font-size: unset;
}

.text-styles .token-content,
.layer-styles .token-content {
  gap: 0;
}

.text-styles .item,
.layer-styles .item {
  border-top: solid 1px;
  border-color: rgba(128, 128, 128, 0.671);
  padding: 10px 4px;
}

.text-styles .item:last-of-type,
.layer-styles .item:last-of-type {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

@media (prefers-color-scheme: light) {
  .text-styles .description,
  .layer-styles .description {
    border-color: var(--aside-bg);
  }
}

.text-styles .description .name,
.layer-styles .description .name {
  font-weight: 500;
}

.text-styles .description .styles,
.layer-styles .description .styles {
  font-size: small;
  flex: auto;
}

.text-styles .preview,
.layer-styles .preview {
  flex: auto;
  margin: 12px 0;
}

.layer-styles .preview-wrapper {
  padding: 8px 16px;
  border: solid 1px;
  border-color: rgba(128, 128, 128, 0.671);
  background-color: #1d1d1e1a;
}

.layer-styles .preview {
  height: 5em;
}

.typography-playground div[contenteditable] {
  outline: 0px solid transparent;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: fit-content;
}

.typography-playground .controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.typography-playground .control {
  display: flex;
  align-items: center;
  gap: 6px;
}

.typography-playground .control span {
  white-space: nowrap;
  width: 200px;
  text-transform: capitalize;
}

.sizes-tokens .token-content {
  display: grid;
  gap: 10px 40px;
  grid-template-columns: repeat(5, minmax(0px, 1fr));
}

.sizes-tokens .token-content hr {
  grid-column: span 5 / span 5;
}

.sizes-tokens .token-content > span:nth-child(1),
.sizes-tokens .token-content > span:nth-child(2),
.sizes-tokens .token-content > span:nth-child(3) {
  font-weight: 600;
}

.sizes-tokens .token-content .size-box {
  height: 20px;
  background: rgba(255, 192, 203, 0.5);
  grid-column: span 2 / span 2;
}

.spacing-playground .token-content .stack-v {
  display: flex;
  background-color: #e879f91a;
  background-image: linear-gradient(
    135deg,
    #d946ef80 10%,
    transparent 0,
    transparent 50%,
    #d946ef80 0,
    #d946ef80 60%,
    transparent 0,
    transparent
  );
  background-size: 7.07px 7.07px;
  width: fit-content;
}

.spacing-playground .token-content .stack-h {
  display: flex;
  flex-direction: column;
  background-color: #818cf81a;
  background-image: linear-gradient(
    135deg,
    #6366f180 10%,
    transparent 0,
    transparent 50%,
    #6366f180 0,
    #6366f180 60%,
    transparent 0,
    transparent
  );
  background-size: 7.07px 7.07px;
}

.spacing-playground .token-content .spacing-item {
  width: 100%;
  height: 40px;
  background: rgb(99 102 241);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.spacing-playground .token-content .stack-v .spacing-item {
  background: rgb(217 70 239);
  width: 56px;
  height: 56px;
}

.spacing-playground .token-content .switch {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
  position: sticky;
  top: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: var(--bg);
}

.spacing-playground .token-content .switch > span {
  font-weight: bold;
}

.spacing-playground .token-content .section > span {
  font-weight: bold;
}

.spacing-playground .token-content .section > div {
  margin-top: 12px;
}

.spacing-playground .token-content .padding-item {
  width: 56px;
  height: 56px;
  background: rgb(99 102 241);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding-inline: 12px;
}

.spacing-playground .token-content .pad {
  background-size: 7.07px 7.07px;
  width: fit-content;
  border-radius: 0.5rem;
}

.spacing-playground .token-content .pad-h {
  background-image: linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 0.75) 10%,
    transparent 0,
    transparent 50%,
    hsla(0, 0%, 100%, 0.75) 0,
    hsla(0, 0%, 100%, 0.75) 60%,
    transparent 0,
    transparent
  );
  background-color: rgb(99 102 241);
}

.spacing-playground .token-content .pad-h .padding-item {
  background: rgb(99 102 241);
}

.spacing-playground .token-content .pad-v {
  background-image: linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 0.75) 10%,
    transparent 0,
    transparent 50%,
    hsla(0, 0%, 100%, 0.75) 0,
    hsla(0, 0%, 100%, 0.75) 60%,
    transparent 0,
    transparent
  );
  background-color: rgb(236 72 153);
}

.spacing-playground .token-content .pad-v .padding-item {
  background: rgb(236 72 153);
}

.spacing-playground .token-content .pad-all {
  background-image: linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 0.75) 10%,
    transparent 0,
    transparent 50%,
    hsla(0, 0%, 100%, 0.75) 0,
    hsla(0, 0%, 100%, 0.75) 60%,
    transparent 0,
    transparent
  );
  background-color: rgb(139 92 246);
}

.spacing-playground .token-content .pad-all .padding-item {
  background: rgb(139 92 246);
}

/*  */

.contrast-checker .token-content .color-container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
}

.contrast-checker .token-content .color-container > div {
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(182, 180, 180, 0.1);
  flex: 1;
  padding-top: 60px;
}

/*  */

.contrast-checker .token-content .preview {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.4em;
  padding: 8px;
  outline: none;
  border: solid 1px rgba(182, 180, 180, 0.2);
}

.contrast-checker .token-content .preview {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.4em;
  padding: 8px;
  outline: none;
  border: solid 1px rgba(182, 180, 180, 0.2);
}

.contrast-checker .token-content .result .contrast-ratio {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.contrast-checker .token-content .result .contrast-ratio span:nth-child(1) {
  font-weight: 700;
  font-size: 2.5em;
}

.contrast-checker .token-content .result .contrast-ratio span:nth-child(2) {
  font-weight: 600;
  opacity: 0.5;
}

.contrast-checker .token-content .result .test-scores {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.contrast-checker .token-content .result .test-scores > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contrast-checker .token-content .result .test-scores > div > span {
  font-weight: 600;
}

.contrast-checker .token-content .result .test-scores > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.contrast-checker .token-content .result .test-scores > div > div > div {
  display: flex;
  align-items: center;
  gap: 8px;
}
