@layer reset, base, tokens, recipes, utilities;

:root {
  --bg: #242424;
  --aside-bg: #1a1a1a;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.badge {
  position: fixed;
  right: 2rem;
  font-size: 0.8em;
  bottom: calc(env(safe-area-inset-bottom) + 1rem);
  background: #000;
  border-radius: 8px;
  padding: 4px 10px;
  pointer-events: none;
}

a {
  color: unset;
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.home .item {
  width: 220px;
  background: var(--aside-bg);
  border-radius: 8px;
  padding: 18px;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
}

.home .item:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.home .item .icon svg {
  display: block;
  font-weight: 400;
  font-size: xx-large;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
}

.home .item .title {
  display: block;
  font-weight: 600;
  font-size: small;
}

.home .item .description {
  display: block;
  margin-top: 12px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    --bg: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  .home .item {
    color: #3b3b3b;
    background-color: #bababa3d;
  }

  .home .banner {
    background-color: #bababa3d;
  }
}
