@layer reset, base, tokens, recipes, utilities;

@import './reset.css';

@import './tokens/index.css';

@import './tokens/keyframes.css';

@layer utilities {

  .pos_relative {
    position: relative
  }

  .overflow_hidden {
    overflow: hidden
  }

  .before\:content_\'\'::before {
    content: ''
  }

  .before\:pos_absolute::before {
    position: absolute
  }

  .before\:rounded_sm::before {
    border-radius: var(--radii-sm)
  }

  .before\:w_100\%::before {
    width: 100%
  }

  .before\:h_100\%::before {
    height: 100%
  }

  .before\:bg_3px::before {
    background-size: 3px
  }

  .before\:z_-1::before {
    z-index: -1
  }

  .before\:bg_url\(data\:image\/svg\+xml\;utf8\,\%3Csvg\%20width\%3D\%226\%22\%20height\%3D\%226\%22\%20viewBox\%3D\%220\%200\%206\%206\%22\%20fill\%3D\%22none\%22\%20xmlns\%3D\%22http\%3A\/\/www\.w3\.org\/2000\/svg\%22\%3E\%3Cpath\%20d\%3D\%22M0\%200H3V3H0V0Z\%22\%20fill\%3D\%22\%23E1E1E1\%22\/\%3E\%3Cpath\%20d\%3D\%22M3\%200H6V3H3V0Z\%22\%20fill\%3D\%22white\%22\/\%3E\%3Cpath\%20d\%3D\%22M3\%203H6V6H3V3Z\%22\%20fill\%3D\%22\%23E1E1E1\%22\/\%3E\%3Cpath\%20d\%3D\%22M0\%203H3V6H0V3Z\%22\%20fill\%3D\%22white\%22\/\%3E\%3C\/svg\%3E\%0A\)::before {
    background: url(data:image/svg+xml;utf8,%3Csvg%20width%3D%226%22%20height%3D%226%22%20viewBox%3D%220%200%206%206%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%200H3V3H0V0Z%22%20fill%3D%22%23E1E1E1%22/%3E%3Cpath%20d%3D%22M3%200H6V3H3V0Z%22%20fill%3D%22white%22/%3E%3Cpath%20d%3D%22M3%203H6V6H3V3Z%22%20fill%3D%22%23E1E1E1%22/%3E%3Cpath%20d%3D%22M0%203H3V6H0V3Z%22%20fill%3D%22white%22/%3E%3C/svg%3E%0A)
  }

  .fs_5xl {
    font-size: var(--font-sizes-5xl)
  }

  .min-h_40vh {
    min-height: 40vh
  }

  .opacity_0\.8 {
    opacity: 0.8
  }

  .pt_16 {
    padding-top: var(--spacing-16)
  }

  .opacity_0\.5 {
    opacity: 0.5
  }

  .mt_10 {
    margin-top: var(--spacing-10)
  }

  .justify_space-between {
    justify-content: space-between
  }

  .p_2 {
    padding: var(--spacing-2)
  }

  .outline_none {
    outline: 2px solid transparent;
    outline-offset: 2px
  }

  .border-slim_card {
    border-width: 1px;
    border-style: solid;
    border-color: var(--colors-card)
  }

  .gap_2\.5 {
    gap: var(--spacing-2\.5)
  }

  .text_center {
    text-align: center
  }

  .flex_1 {
    flex: 1 1 0%
  }

  .resize_vertical {
    resize: vertical
  }

  .opacity_0\.4 {
    opacity: 0.4
  }

  .mr_1 {
    margin-right: var(--spacing-1)
  }

  .fs_4xl {
    font-size: var(--font-sizes-4xl)
  }

  .leading_normal {
    line-height: var(--line-heights-normal)
  }

  .gap_3\.5 {
    gap: var(--spacing-3\.5)
  }

  .py_2 {
    padding-block: var(--spacing-2)
  }

  .h_20 {
    height: var(--sizes-20)
  }

  .pos_fixed {
    position: fixed
  }

  .r_8 {
    right: var(--spacing-8)
  }

  .fs_sm {
    font-size: var(--font-sizes-sm)
  }

  .b_calc\(env\(safe-area-inset-bottom\)_\+_1rem\) {
    bottom: calc(env(safe-area-inset-bottom) + 1rem)
  }

  .bg_black {
    background: var(--colors-black)
  }

  .rounded_md {
    border-radius: var(--radii-md)
  }

  .px_2\.5 {
    padding-inline: var(--spacing-2\.5)
  }

  .pointerEvents_none {
    pointer-events: none
  }

  .rounded_xl {
    border-radius: var(--radii-xl)
  }

  .h_40 {
    height: var(--sizes-40)
  }

  .w_80\% {
    width: 80%
  }

  .pos_absolute {
    position: absolute
  }

  .t_50\% {
    top: 50%
  }

  .r_2 {
    right: var(--spacing-2)
  }

  .text_uppercase {
    text-transform: uppercase
  }

  .fs_medium {
    font-size: medium
  }

  .writingMode_vertical-lr {
    writing-mode: vertical-lr
  }

  .transform_rotate\(180deg\) {
    transform: rotate(180deg)
  }

  .min-w_5 {
    min-width: var(--sizes-5)
  }

  .px_2 {
    padding-inline: var(--spacing-2)
  }

  .py_0\.5 {
    padding-block: var(--spacing-0\.5)
  }

  .ml_3 {
    margin-left: var(--spacing-3)
  }

  .mb_3\.5 {
    margin-bottom: var(--spacing-3\.5)
  }

  .z_1 {
    z-index: 1
  }

  .fs_xl {
    font-size: var(--font-sizes-xl)
  }

  .p_1 {
    padding: var(--spacing-1)
  }

  .grid-cols_repeat\(auto-fit\,_minmax\(13rem\,_1fr\)\) {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr))
  }

  .my_5 {
    margin-block: var(--spacing-5)
  }

  .gap_4 {
    grid-gap: var(--spacing-4)
  }

  .\[\&_svg\]\:font_normal svg {
    font-weight: var(--font-weights-normal)
  }

  .\[\&_svg\]\:fs_xx-large svg {
    font-size: xx-large
  }

  .\[\&_svg\]\:mb_6 svg {
    margin-bottom: var(--spacing-6)
  }

  .\[\&_svg\]\:h_6 svg {
    height: var(--sizes-6)
  }

  .\[\&_svg\]\:w_6 svg {
    width: var(--sizes-6)
  }

  .gap_0 {
    gap: 0
  }

  .w_60 {
    width: var(--sizes-60)
  }

  .p_4 {
    padding: var(--spacing-4)
  }

  .hover\:shadow_lg:where(:hover, [data-hover]) {
    box-shadow: var(--shadows-lg)
  }

  .w_80px {
    width: 80px
  }

  .h_80px {
    height: 80px
  }

  .grid-cols_repeat\(auto-fit\,_minmax\(10rem\,_1fr\)\) {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr))
  }

  .gap_10 {
    grid-gap: var(--spacing-10)
  }

  .py_1\.5 {
    padding-block: var(--spacing-1\.5)
  }

  .cursor_pointer {
    cursor: pointer
  }

  .fs_md {
    font-size: var(--font-sizes-md)
  }

  .hover\:text_blue\.400:where(:hover, [data-hover]) {
    color: var(--colors-blue-400)
  }

  .currentPage\:text_blue\.400[aria-current=page] {
    color: var(--colors-blue-400)
  }

  .bg_\#646cff {
    background: #646cff
  }

  .text_white {
    color: var(--colors-white)
  }

  .px_6 {
    padding-inline: var(--spacing-6)
  }

  .py_1 {
    padding-block: var(--spacing-1)
  }

  .mt_6 {
    margin-top: var(--spacing-6)
  }

  .transition_all_0\.2s_ease {
    transition: all 0.2s ease
  }

  .\[\&\:hover\]\:bg_\#4049f0:hover {
    background: #4049f0
  }

  .\[\&\:hover\]\:shadow_lg:hover {
    box-shadow: var(--shadows-lg)
  }

  .py_4 {
    padding-block: var(--spacing-4)
  }

  .px_8 {
    padding-inline: var(--spacing-8)
  }

  .py_24 {
    padding-block: var(--spacing-24)
  }

  .mb_10 {
    margin-bottom: var(--spacing-10)
  }

  .fs_3xl {
    font-size: var(--font-sizes-3xl)
  }

  .mb_6 {
    margin-bottom: var(--spacing-6)
  }

  .d_block {
    display: block
  }

  .p_8 {
    padding: var(--spacing-8)
  }

  .flexWrap_wrap {
    flex-wrap: wrap
  }

  .gap_6 {
    gap: var(--spacing-6)
  }

  .mt_8 {
    margin-top: var(--spacing-8)
  }

  .opacity_0\.7 {
    opacity: 0.7
  }

  .list_none {
    list-style-type: none
  }

  .p_0 {
    padding: 0
  }

  .my_2 {
    margin-block: var(--spacing-2)
  }

  .mx_0 {
    margin-inline: 0
  }

  .gap_10 {
    gap: var(--spacing-10)
  }

  .h_10 {
    height: var(--sizes-10)
  }

  .bg_rgb\(99_102_241\) {
    background: rgb(99 102 241)
  }

  .rounded_sm {
    border-radius: var(--radii-sm)
  }

  .mb_8 {
    margin-bottom: var(--spacing-8)
  }

  .\[\&_div\]\:bg_rgb\(217_70_239\) div {
    background: rgb(217 70 239)
  }

  .\[\&_div\]\:w_14 div {
    width: var(--sizes-14)
  }

  .\[\&_div\]\:h_14 div {
    height: var(--sizes-14)
  }

  .bg_\#e879f91a {
    background: #e879f91a
  }

  .my_8 {
    margin-block: var(--spacing-8)
  }

  .gap_1 {
    gap: var(--spacing-1)
  }

  .pos_sticky {
    position: sticky
  }

  .t_0 {
    top: 0
  }

  .shadow_lg {
    box-shadow: var(--shadows-lg)
  }

  .bg_bg {
    background: var(--colors-bg)
  }

  .my_4 {
    margin-block: var(--spacing-4)
  }

  .mt_3 {
    margin-top: var(--spacing-3)
  }

  .rounded_lg {
    border-radius: var(--radii-lg)
  }

  .bg_8px_8px {
    background-size: 8px 8px
  }

  .bg-img_linear-gradient\(_135deg\,_hsla\(0\,_0\%\,_100\%\,_0\.75\)_10\%\,_transparent_0\,_transparent_50\%\,_hsla\(0\,_0\%\,_100\%\,_0\.75\)_0\,_hsla\(0\,_0\%\,_100\%\,_0\.75\)_60\%\,_transparent_0\,_transparent_\) {
    background-image: linear-gradient( 135deg, hsla(0, 0%, 100%, 0.75) 10%, transparent 0, transparent 50%, hsla(0, 0%, 100%, 0.75) 0, hsla(0, 0%, 100%, 0.75) 60%, transparent 0, transparent )
  }

  .justify_center {
    justify-content: center
  }

  .h_14 {
    height: var(--sizes-14)
  }

  .flex_row {
    flex-direction: row
  }

  .divide-y_1px > :not([hidden]) ~ :not([hidden]) {
    border-top-width: 1px;
    border-bottom-width: 0px
  }

  .divide_card > :not([hidden]) ~ :not([hidden]) {
    border-color: var(--colors-card)
  }

  .px_1 {
    padding-inline: var(--spacing-1)
  }

  .py_2\.5 {
    padding-block: var(--spacing-2\.5)
  }

  .border_card {
    border-color: var(--colors-card)
  }

  .font_medium {
    font-weight: var(--font-weights-medium)
  }

  .fs_small {
    font-size: small
  }

  .mt_1\.5 {
    margin-top: var(--spacing-1\.5)
  }

  .flex_auto {
    flex: 1 1 auto
  }

  .my_3 {
    margin-block: var(--spacing-3)
  }

  .truncate_true {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  .font_semibold {
    font-weight: var(--font-weights-semibold)
  }

  .col-span_span_3_\/_span_3 {
    grid-column: span 3 / span 3
  }

  .col-span_span_5_\/_span_5 {
    grid-column: span 5 / span 5
  }

  .h_5 {
    height: var(--sizes-5)
  }

  .bg_rgba\(255\,_192\,_203\,_0\.5\) {
    background: rgba(255, 192, 203, 0.5)
  }

  .col-span_span_2_\/_span_2 {
    grid-column: span 2 / span 2
  }

  .grid-cols_repeat\(5\,_minmax\(0\,_1fr\)\) {
    grid-template-columns: repeat(5, minmax(0, 1fr))
  }

  .d_grid {
    display: grid
  }

  .gap-x_2\.5 {
    row-gap: var(--spacing-2\.5)
  }

  .gap_5 {
    gap: var(--spacing-5)
  }

  .gap_3 {
    gap: var(--spacing-3)
  }

  .mt_5 {
    margin-top: var(--spacing-5)
  }

  .gap_2 {
    gap: var(--spacing-2)
  }

  .h_calc\(100vh_-_env\(safe-area-inset-bottom\)\) {
    height: calc(100vh - env(safe-area-inset-bottom))
  }

  .font_bold {
    font-weight: var(--font-weights-bold)
  }

  .fs_2xl {
    font-size: var(--font-sizes-2xl)
  }

  .w_full {
    width: var(--sizes-full)
  }

  .items_flex-start {
    align-items: flex-start
  }

  .gap_10px {
    gap: 10px
  }

  .h_full {
    height: var(--sizes-full)
  }

  .min-w_60 {
    min-width: var(--sizes-60)
  }

  .overflow_auto {
    overflow: auto
  }

  .px_4 {
    padding-inline: var(--spacing-4)
  }

  .py_8 {
    padding-block: var(--spacing-8)
  }

  .bg_card {
    background: var(--colors-card)
  }

  .outline_0px_solid_transparent {
    outline: 0px solid transparent
  }

  .pt_28 {
    padding-top: var(--spacing-28)
  }

  .pb_28 {
    padding-bottom: var(--spacing-28)
  }

  .ms_auto {
    margin-inline-start: auto
  }

  .me_auto {
    margin-inline-end: auto
  }

  .w_fit-content {
    width: fit-content
  }

  .d_flex {
    display: flex
  }

  .flex_column {
    flex-direction: column
  }

  .gap_4 {
    gap: var(--spacing-4)
  }

  .items_center {
    align-items: center
  }

  .gap_1\.5 {
    gap: var(--spacing-1\.5)
  }

  .whiteSpace_nowrap {
    white-space: nowrap
  }

  .w_48 {
    width: var(--sizes-48)
  }

  .text_capitalize {
    text-transform: capitalize
  }

  .mr_2 {
    margin-right: var(--spacing-2)
  }

  .w_16 {
    width: var(--sizes-16)
  }
}

@layer base {
  :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: var(--font-sizes-md);
    line-height: var(--line-heights-normal);
    font-weight: var(--font-weights-normal);
    color-scheme: light dark;
    color: var(--colors-text);
    background: var(--colors-bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%
  }

  a {
    color: unset;
    text-decoration: none
  }

  body {
    margin: 0;
    min-height: 100vh
  }
}