---
import Layout from '../layouts/Layout.astro'
import { Button } from '../components/button.jsx'
import '../../panda/styles.css'
---

<Layout title="Welcome to Astro.">
  <main>
    <Button>Welcome</Button>
  </main>
</Layout>
