@layer utilities {
  .divide-y_1px > :not([hidden]) ~ :not([hidden]) {
    border-top-width: 1px;
    border-bottom-width: 0px
        }

  .divide_card > :not([hidden]) ~ :not([hidden]) {
    border-color: var(--colors-card)
        }

  .px_1 {
    padding-inline: var(--spacing-1)
    }

  .py_2\.5 {
    padding-block: var(--spacing-2\.5)
    }

  .border_card {
    border-color: var(--colors-card)
    }

  .fs_small {
    font-size: small
    }

  .mt_1\.5 {
    margin-top: var(--spacing-1\.5)
    }

  .px_4 {
    padding-inline: var(--spacing-4)
    }

  .py_2 {
    padding-block: var(--spacing-2)
    }

  .bg_card {
    background: var(--colors-card)
    }

  .mt_5 {
    margin-top: var(--spacing-5)
    }

  .flex_auto {
    flex: 1 1 auto
    }

  .my_3 {
    margin-block: var(--spacing-3)
    }

  .h_20 {
    height: var(--sizes-20)
    }

  .font_medium {
    font-weight: var(--font-weights-medium)
    }
}