@layer utilities {
  .rounded_xl {
    border-radius: var(--radii-xl)
    }

  .h_40 {
    height: var(--sizes-40)
    }

  .w_80\% {
    width: 80%
    }

  .pos_absolute {
    position: absolute
    }

  .t_50\% {
    top: 50%
    }

  .r_2 {
    right: var(--spacing-2)
    }

  .text_uppercase {
    text-transform: uppercase
    }

  .fs_medium {
    font-size: medium
    }

  .transform_rotate\(180deg\) {
    transform: rotate(180deg)
    }

  .min-w_5 {
    min-width: var(--sizes-5)
    }

  .font_semibold {
    font-weight: var(--font-weights-semibold)
    }

  .fs_small {
    font-size: small
    }

  .rounded_lg {
    border-radius: var(--radii-lg)
    }

  .px_2 {
    padding-inline: var(--spacing-2)
    }

  .py_0\.5 {
    padding-block: var(--spacing-0\.5)
    }

  .ml_3 {
    margin-left: var(--spacing-3)
    }

  .text_white {
    color: var(--colors-white)
    }

  .font_medium {
    font-weight: var(--font-weights-medium)
    }

  .text_capitalize {
    text-transform: capitalize
    }

  .fs_xl {
    font-size: var(--font-sizes-xl)
    }

  .mb_3\.5 {
    margin-bottom: var(--spacing-3\.5)
    }

  .pos_sticky {
    position: sticky
    }

  .t_0 {
    top: 0
    }

  .shadow_lg {
    box-shadow: var(--shadows-lg)
    }

  .z_1 {
    z-index: 1
    }

  .bg_card {
    background: var(--colors-card)
    }

  .w_full {
    width: var(--sizes-full)
    }

  .p_1 {
    padding: var(--spacing-1)
    }

  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .items_flex-start {
    align-items: flex-start
    }

  .gap_1 {
    gap: var(--spacing-1)
    }

  .grid-cols_repeat\(auto-fit\,_minmax\(13rem\,_1fr\)\) {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr))
    }

  .d_grid {
    display: grid
    }

  .gap_4 {
    gap: var(--spacing-4)
    }

  .my_5 {
    margin-block: var(--spacing-5)
    }

  .mx_0 {
    margin-inline: 0
    }
}