@layer utilities {
  .fs_5xl {
    font-size: var(--font-sizes-5xl)
  }

  .font_semibold {
    font-weight: var(--font-weights-semibold)
  }

  .justify_center {
    justify-content: center
  }

  .gap_5 {
    gap: var(--spacing-5)
  }

  .h_full {
    height: var(--sizes-full)
  }

  .min-h_40vh {
    min-height: 40vh
  }

  .d_flex {
    display: flex
  }

  .flex_column {
    flex-direction: column
  }

  .items_center {
    align-items: center
  }

  .gap_10px {
    gap: 10px
  }

  .opacity_0\.8 {
    opacity: 0.8
  }
}