@layer utilities {
  .p_4px_8px {
    padding: 4px 8px
    }

  .bg_white {
    background-color: var(--colors-white)
    }

  .p_4 {
    padding: var(--spacing-4)
    }

  .mt_4 {
    margin-top: var(--spacing-4)
    }

  .justify_center {
    justify-content: center
    }

  .fs_xl {
    font-size: var(--font-sizes-xl)
    }

  .p_16 {
    padding: var(--spacing-16)
    }

  .mb_4 {
    margin-bottom: var(--spacing-4)
    }

  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .d_block {
    display: block
    }

  .self_flex-end {
    align-self: flex-end
    }

  .mt_2 {
    margin-top: var(--spacing-2)
    }

  .select_none {
    user-select: none
    }

  .fs_lg {
    font-size: var(--font-sizes-lg)
    }

  .fs_md {
    font-size: var(--font-sizes-md)
    }

  .font_bold {
    font-weight: var(--font-weights-bold)
    }

  .ml_auto {
    margin-left: auto
    }

  .mt_1 {
    margin-top: var(--spacing-1)
    }

  .bg_gray\.50 {
    background: var(--colors-gray-50)
    }
}