@layer utilities {
  .d_block {
    display: block
    }

  .py_1\.5 {
    padding-block: var(--spacing-1\.5)
    }

  .fs_md {
    font-size: var(--font-sizes-md)
    }

  .font_semibold {
    font-weight: var(--font-weights-semibold)
    }

  .currentPage\:text_blue\.400[aria-current=page] {
    color: var(--colors-blue-400)
        }

  .hover\:text_blue\.400:where(:hover, [data-hover]) {
    color: var(--colors-blue-400)
        }
}