@layer utilities {
  .pos_fixed {
    position: fixed
  }

  .r_8 {
    right: var(--spacing-8)
  }

  .fs_sm {
    font-size: var(--font-sizes-sm)
  }

  .b_calc\(env\(safe-area-inset-bottom\)_\+_1rem\) {
    bottom: calc(env(safe-area-inset-bottom) + 1rem)
  }

  .bg_black {
    background: var(--colors-black)
  }

  .rounded_md {
    border-radius: var(--radii-md)
  }

  .px_2\.5 {
    padding-inline: var(--spacing-2\.5)
  }

  .py_1 {
    padding-block: var(--spacing-1)
  }

  .pointerEvents_none {
    pointer-events: none
  }

  .text_white {
    color: var(--colors-white)
  }
}