@layer utilities {
  .w_full {
    width: var(--sizes-full)
    }

  .p_1 {
    padding: var(--spacing-1)
    }

  .bg_card {
    background: var(--colors-card)
    }

  .mb_3\.5 {
    margin-bottom: var(--spacing-3\.5)
    }

  .pos_sticky {
    position: sticky
    }

  .t_0 {
    top: 0
    }

  .shadow_lg {
    box-shadow: var(--shadows-lg)
    }

  .z_1 {
    z-index: 1
    }

  .mr_1 {
    margin-right: var(--spacing-1)
    }

  .fs_4xl {
    font-size: var(--font-sizes-4xl)
    }

  .leading_normal {
    line-height: var(--line-heights-normal)
    }

  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .items_flex-start {
    align-items: flex-start
    }

  .gap_3\.5 {
    gap: var(--spacing-3\.5)
    }
}