@layer utilities {
  .h_calc\(100vh_-_env\(safe-area-inset-bottom\)\) {
    height: calc(100vh - env(safe-area-inset-bottom))
    }

  .font_bold {
    font-weight: var(--font-weights-bold)
    }

  .fs_2xl {
    font-size: var(--font-sizes-2xl)
    }

  .gap_2 {
    gap: var(--spacing-2)
    }

  .w_full {
    width: var(--sizes-full)
    }

  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .items_flex-start {
    align-items: flex-start
    }

  .gap_10px {
    gap: 10px
    }

  .h_full {
    height: var(--sizes-full)
    }

  .min-w_60 {
    min-width: var(--sizes-60)
    }

  .bg_card {
    background: var(--colors-card)
    }

  .px_4 {
    padding-inline: var(--spacing-4)
    }

  .py_8 {
    padding-block: var(--spacing-8)
    }
}