@layer base {
  :root {
    --made-with-panda: '🐼';
  }

  .panda-layout-grid {
    display: grid;
    gap: var(--gutter);
    grid-template-columns: repeat(var(--count), 1fr);
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    pointer-events: none;
    max-width: var(--max-width);
    margin-inline: var(--margin-x);
    padding-inline: var(--padding-x);
  }

  .panda-layout-grid__item {
    display: flex;
    --color: rgba(255, 0, 0, 0.1);
    height: 100%;
  }

  .panda-layout-grid__item[data-variant=bg] {
    background: var(--color);
  }

  .panda-layout-grid__item[data-variant=outline] {
    border-inline: 1px solid var(--color);
  }

  :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: var(--font-sizes-md);
    line-height: var(--line-heights-normal);
    font-weight: var(--font-weights-normal);
    color-scheme: light dark;
    color: var(--colors-text);
    background: var(--colors-bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  a {
    color: unset;
    text-decoration: none;
  }

  body {
    margin: 0;
    min-height: 100vh;
  }
}